
<div class="container mt-5">
  <h1>Ajouter une annonce (maison, appartement)</h1>
  <form [formGroup]="offerForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-6">
        <h3>Le bien</h3>
        <div class="form-group">
          <input type="text" formControlName="title" placeholder="Titre de l'annonce" class="form-control">
        </div>
        <div class="form-group">
          <textarea rows="3" formControlName="description" placeholder="Description" class="form-control"></textarea>
        </div>
        <div class="form-group row">
          <div class="col">
            <label>Surface (m² selon loi Carrez)</label>
            <input type="number" min="0" step="0.1" class="form-control" formControlName="surface">
          </div>
          <div class="col">
            <label>Prix (€)</label>
            <input type="number" min="0" step="0.01" class="form-control" formControlName="price">
          </div>
        </div>
        <div class="form-group">
          <select formControlName="owner" class="form-control">
            <option value="">Propriétaire actuel</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" formControlName="ref" placeholder="Référence" class="form-control">
        </div>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" formGroupName="photo" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label">Choisir une photo</label>
          </div>
        </div>

      </div>

      <div class="col-6">
        <h3>Localisation</h3>
        <div class="form-group">
          <input type="text" formControlName="address" placeholder="Adresse : numéro, voie et nom de la voie" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" formControlName="address2" placeholder="Complément d'adresse : résidence, bâtiment, étage" class="form-control">
        </div>
        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" max="5" placeholder="Code postal">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ville">
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="area" placeholder="Quartier" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" formControlName="nearby" placeholder="Proximités (commerces, écoles, transport)" class="form-control">
        </div>
        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Longitude">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Latitude">
          </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
      </div>
    </div>
  </form>
</div>